html {
    width: 100%;
    height: 100%;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

body {
    background: linear-gradient(to right, rgb(0, 0, 49), rgb(104, 30, 58));
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

img {
    width: 70%;
}